.App {
  text-align: center;
  width: 1192px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #fff;

  a {
    color: #61dafb;
  }

  ul {
    li {
      text-align: left;
    }
  }
}
